
.grebutton{
    margin-top: 10px;
    margin-bottom: 10px;
    background:#71DC98;
    color:#fff;
    border:none;
    position:relative;
    height:50px;

    font-size:1.6em;
    padding:0 1em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}
.grebutton:hover{
    background:#fff;
    color:#71DC98;
}
.grebutton:before,.grebutton:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #71DC98;
    transition:400ms ease all;
}
.grebutton:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.grebutton:hover:before,.grebutton:hover:after{
    width:100%;
    transition:800ms ease all;
}
